@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('Contactbg.gif');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    animation: slide 20s linear infinite;
}

.container {
  color: mediumslateblue;
  max-width: 500px;
  margin: 50px auto;
  background-color: purple;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.contact-info {
	color: mediumslateblue;
  margin-bottom: 20px;
}

.contact-info p {
  margin: 5px 0;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 3px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  background-color: mediumslateblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
